{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'story8styles.css' %}">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="{% static 'story8script.js' %}" defer></script>
    <title>Book Search</title>
</head>

<body>

    <h1 style="text-align: center;" class="big">Search Google Books</h1>

    <div>
        <form style="display: flex; flex-flow: row wrap; align-items: center; justify-content: center;" id="search-form">
            <input type="text" id="search-url"/>
            <input class="btn" type="submit" value="Search"/>
        </form>

        <div id="books"></div>
    </div>

</body>

</html>