<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Tambah Kegiatan</h1>
    <form method="POST">
        {% csrf_token %}
        <div>
            {{ FormKegiatan }}
        </div>
        <button type="submit"><p>Submit</p></button>
    </form>
</body>
</html>