<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>List Kegiatan Anski</h1>

    <button >
        <a href="{% url 'story6:story6form' %}">
            Tambah Kegiatan
        </a>
    </button>

    {% for giat in kegiatan %}
        <h3>{{ giat.nama_kegiatan }}</h3>
            {% for orang in peserta %}
                {% if orang.ikut_kegiatan == giat %}
                    <p>{{ orang.nama_pendaftar }}</p>
                {% endif %}
            {% endfor %}

            <form method="POST">
                {% csrf_token %}
                {{ form_peserta }}
                <input type='text' name='id' value='{{ giat.id }}' style='display:none'>
                <button type="submit" id="submit">Tambah Peserta</button>
            </form>
        <br>
    {% endfor %}
</body>
</html>
