@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700;800&display=swap");

:root {
    --bg-color-1: #FFF0E4;
    --bg-color-2: #FFDDDB;
    --color-darkred: #BE1668;
    --color-magenta: #E55D85;
    --color-purple: #7C69AC;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px 86px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
}

.logo {
    margin-right: auto;
}

.icon {
    max-width: 30px;
}

.nav__links {
    list-style: none;
    display: flex;
}

.nav__links a,
.cta,
.overlay__content a {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    color: var(--color-darkred);
    font-size: 16px;
    text-decoration: none;
}

.nav__links li {
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: var(--color-magenta);
}

.cta {
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.cta:hover {
    color: var(--color-magenta);
}

@media only screen and (max-width: 768px) {

    header {
        padding: 6px 15px;
    }

    .icon {
        max-height: 15px;
    }

    .nav__links a,
    .cta,
    .overlay__content a {
    font-size: 12px;
}
}