@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700;800&display=swap");

:root {
    --bg-color-1: #FFF0E4;
    --bg-color-2: #FFDDDB;
    --color-darkred: #BE1668;
    --color-magenta: #E55D85;
    --color-purple: #7C69AC;
}

html {
    font-family: 'Raleway', sans-serif;
    scroll-behavior: smooth;
    background-color: var(--bg-color-2);
}

* {
  box-sizing: border-box;
}

.big {
    font-weight: 800;
    font-size: 60px;
    color: var(--color-purple);
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  width: 40%;
  min-width: 300px;
  max-width: 500px;
  margin: 1.5em auto;
  color: var(--color-darkred);
}

h1 {
  font-weight: 400;
  font-size: 2.5em;
  text-align: center;
  margin-top: 5rem;
}

ul {
  list-style: none;
  padding: 0;
}

ul .inner {
  padding-left: 1em;
  overflow: hidden;
  display: none;
}

ul li {
  margin: 0.5em 0;
}

/*ul li a.toggle {*/
.test {
  width: 100%;
  display: block;
  background: var(--color-darkred);
  color: #fefefe;
  padding: 0.75em;
  border-radius: 0.15em;
  transition: background 0.3s ease;
}

ul li a.toggle:hover {
  background: var(--color-darkred);
}