<!DOCTYPE html>
{% load static %}

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Navbar</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'story1/story1-navbar.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

    <body>
        <header>
            <a class="logo" href="#"><img class="icon" src="{% static 'story1/icon.png' %}" alt="logo"></a>
            <nav>
                <ul class="nav__links">
                    <li><a href="#about">About</a></li>
                    <li><a href="#education">Education</a></li>
                    <li><a href="#skills">Skills</a></li>
                    <li><a href="#experiences">Experiences</a></li>
                    <li><a href="#find-me">Contact</a></li>
                </ul>
            </nav>
            <p class="menu cta">
                <i class="fa fa-bars"></i>
            </p>
        </header>

        <div id="mobile__menu" class="overlay">
            <a class="close">&times;</a>
            <div class="overlay__content">
                <a class="closetext" href="#about">About</a>
                <a class="closetext5" href="#education">Education</a>
                <a class="closetext2" href="#skills">Skills</a>
                <a class="closetext3" href="#experiences">Experiences</a>
                <a class="closetext4" href="#find-me">Contact</a>
            </div>
        </div>
        <script type="text/javascript" src="{% static 'story1/mobile.js' %}"></script>
    </body>
    
</html>