<!DOCTYPE html>
{% load static %}

<html>
    <head>
        <title>ansqee's page</title>
        <link rel="stylesheet" href="{% static 'story1/story1.css' %}">
        <link rel="icon" href="static/icon.png">
        <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        {% include 'navbar.html' %}

        <h1 class="playful" aria-label="ansqee">
            <span aria-hidden="true">H</span><span
            aria-hidden="true">e</span><span
            aria-hidden="true">l</span><span
            aria-hidden="true">l</span><span 
            aria-hidden="true">o</span><span
            aria-hidden="true">!</span>
        </h1>

        <div id="about" class="card-1">
            <div class="pic">
                <img class="profpic" src="{% static 'story1/myself.png' %}" alt="This is me!">
            </div>
            <div class="desc">
                <p class="desc-text-big">Hi! I'm Hasiana!</p>
                <div class="desc-text-small">
                    I'm a Computer Science major (batch 2019, Maung) studying at
                    Universitas Indonesia, student ID 1906293083. 
                    Currently, I'm learning UI/UX Design, Web Development, and Data Structure. 
                    Drawing cute things is what I do in my free time.
                    Nice to meet you!
                </div>
            </div>
        </div>

        <div id="education" class="card-2">
            <p class="desc-text-medium">Education History</p>
            <div class="blocks-4">
                <div class="card-4">
                    <div class="blocks-3">
                        <p class="desc-text-medium3">Bachelor of Computer Science</p>
                        <p class="desc-text-smallerer">Universitas Indonesia</p>
                        <p class="desc-text-smallerer">2019-2023</p>
                    </div>
                </div>
                <div class="card-4">
                    <div class="blocks-3">
                        <p class="desc-text-medium3">High School Diploma</p>
                        <p class="desc-text-smallerer">SMAN 3 Depok</p>
                        <p class="desc-text-smallerer">2016-2019</p>
                    </div>
                </div>
                <div class="card-4">
                    <div class="blocks-3">
                        <p class="desc-text-medium3">Middle School</p>
                        <p class="desc-text-smallerer">SMP Regina Pacis Bogor</p>
                        <p class="desc-text-smallerer">2013-2016</p>
                    </div>
                </div>
                <div class="card-4">
                    <div class="blocks-3">
                        <p class="desc-text-medium3">Primary School</p>
                        <p class="desc-text-smallerer">SD Mardi Yuana Depok</p>
                        <p class="desc-text-smallerer">2007-2013</p>
                    </div>
                </div>
            </div>
        </div>

        <div id="skills" class="card-2">
            <p class="desc-text-medium">Skills</p>

            <div class="blocks-1">
                <div class="card-3">
                    <div class="blocks-3">
                        <p class="desc-text-medium2">Programming</p>
                        <div class="blocks-4">
                            <div class="blocks-2">
                                <img class="icon-skill" src="{% static 'story1/skill-logos/py.svg' %}">
                                <p class="desc-text-smaller">Python</p>
                            </div>
                            <div class="blocks-2">
                                <img class="icon-skill" src="{% static 'story1/skill-logos/java.svg' %}">
                                <p class="desc-text-smaller">Java</p>
                            </div>
                            <div class="blocks-2">
                                <img class="icon-skill" src="{% static 'story1/skill-logos/html.svg' %}">
                                <p class="desc-text-smaller">HTML</p>
                            </div>
                            <div class="blocks-2">
                                <img class="icon-skill" src="{% static 'story1/skill-logos/css.svg' %}">
                                <p class="desc-text-smaller">CSS</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-3">
                    <div class="blocks-3">
                        <p class="desc-text-medium2">Art and Design</p>
                        <div class="blocks-4">
                            <div class="blocks-2">
                                <img class="icon-skill" src="{% static 'story1/skill-logos/figma.svg' %}">
                                <p class="desc-text-smaller">Figma</p>
                            </div>
                            <div class="blocks-2">
                                <img class="icon-skill" src="{% static 'story1/skill-logos/ai.svg' %}">
                                <p class="desc-text-smaller">Illust.</p>
                            </div>
                            <div class="blocks-2">
                                <img class="icon-skill" src="{% static 'story1/skill-logos/ps.svg' %}">
                                <p class="desc-text-smaller">Photosh.</p>
                            </div>
                            <div class="blocks-2">
                                <img class="icon-skill" src="{% static 'story1/skill-logos/procreate.svg' %}">
                                <p class="desc-text-smaller">Procreate</p>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </div>

        <div id="experiences" class="card-2">
            <p class="desc-text-medium">Experiences</p>
            <div class="blocks-4">
                <div class="card-4">
                    <div class="blocks-3">
                        <p class="desc-text-medium3">UI/UX Researcher and Designer</p>
                        <p class="desc-text-smallerer">COMPFEST 12</p>
                    </div>
                </div>
                <div class="card-4">
                    <div class="blocks-3">
                        <p class="desc-text-medium3">Graphic Designer</p>
                        <p class="desc-text-smallerer">BEM Fasilkom UI 2020</p>
                    </div>
                </div>
                <div class="card-4">
                    <div class="blocks-3">
                        <p class="desc-text-medium3">Teaching Assistant for IDS</p>
                        <p class="desc-text-smallerer">Universitas Indonesia</p>
                    </div>
                </div>
                <div class="card-4">
                    <div class="blocks-3">
                        <p class="desc-text-medium3">Staff of Creative Division</p>
                        <p class="desc-text-smallerer">WisGan Fasilkom 2019</p>
                    </div>
                </div>
                <div class="card-4">
                    <div class="blocks-3">
                        <p class="desc-text-medium3">VPIC of Documt. Division</p>
                        <p class="desc-text-smallerer">Open House Fasilkom 2020</p>
                    </div>
                </div>
            </div>
        </div>

        <div id="find-me" class="card-2">
            <p class="desc-text-medium">Find me anywhere</p>
            <div style="text-align: center">
                <a href="https://www.linkedin.com/in/hasiana-emanuela-rajagukguk-1604291a2/" target="_blank" style="text-decoration:none">
                    <img class="icon-contact" src="{% static 'story1/linkedin.svg' %}" alt="linkedin">
                </a>
                <a href="https://github.com/ansqee" target="_blank" style="text-decoration:none">
                    <img class="icon-contact" src="{% static 'story1/github.svg' %}" alt="github">
                </a>
                <a href="https://gitlab.com/ansqee" target="_blank" style="text-decoration:none">
                    <img class="icon-contact" src="{% static 'story1/gitlab.svg' %}" alt="gitlab">
                </a>
                <a href="https://www.instagram.com/anaemnl/" target="_blank" style="text-decoration:none">
                    <img class="icon-contact" src="{% static 'story1/ig.svg' %}" alt="ig">
                </a>
            </div>
        </div>

    </body>
</html>