<!DOCTYPE html>
{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'story3.css' %}">
    <link rel="shortcut icon" href="{% static 'logo.svg' %}" type="image/gif">
    <title>Anski</title>
</head>

<body>
    {% include 'story3navbar.html' %}

    <img class="nav-decor" src="{% static 'topleft.svg' %}">
    <div class="hero-section">
        <div class="things-container tc-hero">
            <img class="profpic" src="{% static 'profpic.png' %}">
            <div class="row-container"> 
                <p class="main-header">Hi! I'm Anski.</p>
                <p class="big-desc">A computer science student compassionate about design and front-end engineering.</p>
            </div>
        </div>
        <img class="hero-line" src="{% static 'hero-line.svg' %}">
    </div>

    <div class="pink-section ps-skills" id="skills">
        <img class="whatido-right-decor" src="{% static 'whatido-dots-right.svg' %}">
        <div class="title-box">
            <img class="line1" src="{% static 'line1.svg' %}">
            <p class="section-header sh-left">what i do</p>
        </div>
        <div class="things-container">
            <div class="for-circles fc-one">
                <p class="subtitle">Learn.</p>
            </div>
            <div class="for-circles fc-two">
                <p class="subtitle">Design.</p>
            </div>
            <div class="for-circles fc-three">
                <p class="subtitle">Code.</p>
            </div>
            <div class="for-circles fc-four">
                <p class="subtitle">Draw.</p>
            </div>
        </div>
        <img class="whatido-left-decor" src="{% static 'whatido-dots-left.svg' %}">
    </div>

    <div class="beige-section" id="experience">
        <img class="desc-right-1" src="{% static 'exp-dotsright.svg' %}">
        <img class="desc-left-1" src="{% static 'exp-circleleft.svg' %}">
        <img class="desc-left-2" src="{% static 'exp-dotsleft.svg' %}">
        <img class="desc-right-2" src="{% static 'exp-circleright.svg' %}">
        <div class="title-box-right">
            <img class="line1" src="{% static 'line2.svg' %}">
            <p class="section-header sh-right">my experience</p>
        </div>
        <div class="relative test2">
            <div class="row how-it-works">
				<div class="col-2 full relative">
					<div class="circle"></div>
				</div>
				<div class="col-6">
					<p class="subtitle subtitle-desc">UI/UX Designer</p>
                    <p class="small-text st-bold">COMPFEST 12 • Feb 2020-Present</p>
                    <ul class="small-text">
                        <li>COMPFEST is one of the biggest IT event run by students, with events such as competition, academy, and talkshows.</li>
                        <li>Participated on designing beautiful webpages on COMPFEST 12's website.</li>
                        <li>Did research and usability testing to understand user's behaviour </li>
                    </ul>
				</div>
			</div>
			
			<!--first section-->
			<div class="row how-it-works">
				<div class="col-2 full relative">
					<div class="circle"></div>
				</div>
				<div class="col-6">
                    <p class="subtitle subtitle-desc">Graphic Designer</p>
                    <p class="small-text st-bold">Fasilkom UI Student Council • Feb 2020-Present</p>
					<ul class="small-text">
                        <li>Designed informative posters for the student council’s social media.</li>
                        <li>Was Project Lead for iMaba, an informative website for Fasilkom's new students.</li>
                        <li>Worked on Boolean, a magazine covering the latest IT news.</li>
                    </ul>
				</div>
			</div>

			<!--third section-->
			<div class="row how-it-works">
				<div class="col-2 top">
					<div class="circle"></div>
				</div>
				<div class="col-6">
					<p class="subtitle subtitle-desc">Teaching Assistant for Intro to Digital Systems</p>
                    <p class="small-text st-bold">Fasilkom Universitas Indonesia • Sep 2020-Present</p>
                    <ul class="small-text">
                        <li>Assist students on digital systems and logical thinking.</li>
                        <li>Grade students’ assignments and projects.</li>
                    </ul>
				</div>
			</div>
        </div>
        
    </div>

    <div class="pink-section ps-contacts" id="contact">
        <div class="title-box">
            <img class="line1" src="{% static 'line1.svg' %}">
            <p class="section-header sh-left">keep in touch</p>
        </div>
        <div class="things-container">
            <a href="https://www.linkedin.com/in/hasiana-emanuela-rajagukguk-1604291a2/" target="_blank" style="text-decoration:none">
                <img class="logos" src="{% static 'LinkedIn.svg' %}" alt="linkedin">
            </a>
            <a href="https://github.com/ansqee" target="_blank" style="text-decoration:none">
                <img class="logos" src="{% static 'Github.svg' %}" alt="github">
            </a>
            <a href="https://gitlab.com/ansqee" target="_blank" style="text-decoration:none">
                <img class="logos" src="{% static 'Gitlab.svg' %}" alt="gitlab">
            </a>
            <a href="https://www.instagram.com/anaemnl/" target="_blank" style="text-decoration:none">
                <img class="logos" src="{% static 'IG.svg' %}" alt="ig">
            </a>
        </div>
    </div>
    
</body>

</html>