<!DOCTYPE html>
{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'story3bonus.css' %}">
    <link rel="icon" href="{% static 'logo.svg' %}">
    <title>Anski</title>
</head>

<body>
    {% include 'story3navbar.html' %}

    <img class="nav-decor" src="{% static 'topleft.svg' %}">

    <div class="hero-section">
        <p class="main-header">Dog Pictures</p>
        <div class="pic-container">
            <img class="dog-pic" src="{% static 'shiba1.jpeg' %}">
            <img class="dog-pic" src="{% static 'shiba2.jpeg' %}">
            <img class="dog-pic" src="{% static 'shiba3.jpeg' %}">
            <img class="dog-pic" src="{% static 'shiba4.jpeg' %}">
            <img class="dog-pic" src="{% static 'shiba5.jpeg' %}">
            <img class="dog-pic" src="{% static 'shiba6.jpeg' %}">
            <img class="dog-pic" src="{% static 'shiba7.jpeg' %}">
            <img class="dog-pic" src="{% static 'shiba8.jpeg' %}">
            <img class="dog-pic" src="{% static 'shiba9.jpeg' %}">
        </div>
    </div>
</body>