<!DOCTYPE html>
{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'story3nav.css' %}">
    <title>Navbar</title>
</head>

<body>
    <header>
        <a class="logo" href="{% url 'story3:story3home' %}"">
            <img class="icon" src="{% static 'navbat-logo.svg' %}" alt="logo"></a>
        <nav>
            <ul class="nav__links">
                <li><a href="{% url 'story3:story3bonus' %}">Bonus</a></li>
            </ul>
        </nav>
    </header>
</body>
</body>
