@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700;800&display=swap");

:root {
    --bg-color-1: #FFF0E4;
    --bg-color-2: #FFDDDB;
    --color-darkred: #BE1668;
    --color-magenta: #E55D85;
    --color-purple: #7C69AC;
}

html {
    font-family: 'Raleway', sans-serif;
    scroll-behavior: smooth;
}

* {
    margin: 0;
}

/* ============= SECTIONS ============= */
.hero-section {
    background-color: var(--bg-color-1);
    padding: 30vh 15vw 30vh 15vw;
}

.pink-section {
    background-color: var(--bg-color-2);
    position: relative;
}

.ps-skills {
    padding: 75px 0 175px 0;
}

.ps-contacts {
    padding: 75px 0 86px 0;
}

.beige-section {
    background-color: var(--bg-color-1);
    padding: 75px 0 80px 0;
}

/* ============= CONTAINERS ============= */
.title-box {
    display: flex;
    flex-flow: row wrap;
    margin: 0 0 70px 0;
}

.title-box-right {
    display: flex;
    flex-flow: row-reverse wrap;
    justify-items: flex-end;
    margin: 0 0 70px 0;
}

.things-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.tc-hero {
    flex-flow: row nowrap;
}

.row-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.for-circles {
    background-repeat: no-repeat;
    width: 180px;
    height: 191px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 24px 24px;
}

.fc-one {
    
    background-image: url("../static/circles1.svg");
}

.fc-two {
    background-image: url("../static/circles2.svg");
}

.fc-three {
    background-image: url("../static/circles3.svg");
}

.fc-four {
    background-image: url("../static/circles4.svg");
}

/* ============= TEXTS ============= */
.main-header {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 72px;
    color: var(--color-darkred);
}

.section-header {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 39px;
    color: var(--color-darkred);
}

.sh-left {
    margin: 0 0 0 27px;
}

.sh-right {
    margin: 0 27px 0 0;
}

.subtitle {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 27px;
    color: var(--color-darkred);
    text-align: center;
}

.subtitle-desc {
    font-weight: 700;
    text-align: left;
}


.small-text {
    color: var(--color-darkred);
    font-size: 15px;
    font-weight: 400;
}
.st-bold {
    font-weight: 700;
    margin-top: 4px;
}


.big-desc {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: var(--color-darkred);
}

/* ============= OBJECTS ============= */

.profpic {
    margin-right: 58px;
    object-fit: contain;
}

.logos {
    margin: 0 24px;
    cursor: pointer;
}

.circles {
    margin: 0 24px;
}

.whatido-left-decor {
    position: absolute;
    bottom: 90px;
}

.whatido-right-decor {
    position: absolute;
    margin-top: 31px;
    right: 0;
}

.nav-decor {
    position: absolute;
    width: 15vw;
}

.desc-right-1 {
    position: absolute;
    right: 0;
    margin: 60px 0 0 0;
}

.desc-right-2 {
    position: absolute;
    right: 0;
    margin: 300px 0 0 0;
}

.desc-left-1 {
    position: absolute;
    margin: 130px 0 0 0;
}

.desc-left-2 {
    position: absolute;
    margin: 500px 0 0 0;
}

.hero-line {
    position: absolute;
    right: 0;
    z-index: 2;
    margin: 80px 0 0 0;
}

/*TIMELINE*/

.circle {
    font-weight: bold;
    padding: 0px 0px;
    border-radius: 50%;
    background-color: var(--color-magenta);
    color: #000000;
    min-width: 32px;
    min-height: 32px;
    z-index: 2;
}

.how-it-works.row {
    display: flex;
    overflow: hidden;
}

.how-it-works.row .col-2 {
    justify-content: center;
    display: inline-flex;
    align-items: start;
    justify-content: center;
}

.how-it-works.row .col-2::after {
    content: '';
    position: absolute;
    border-left: 4px solid var(--color-magenta);
    z-index: 1;
}

.how-it-works.row .col-2.bottom::after {
    height: 50%;
    left: 49%;
    top: 0%;
}

.how-it-works.row .col-2.full::after {
    height: 100%;
    left: calc(49%);
}

.how-it-works.row .col-2.top::after {
    height: 0%;
    left: 49%;
    top: 0;
}

.how-it-works.row .col-6 {
    margin: 0 0 48px 27px;
}


.relative {
    position: relative;
}

.test2 {
    margin: 0 15vw 0 12vw;
}

ul {
    list-style-position: inside;
    margin-top: 4px;
}

.things-container a {
    transition: all 0.3s ease 0s;
}

.things-container a:hover {
    color: var(--color-magenta);
}

@media only screen and (max-width: 768px) {

    .hero-section {
        padding: 20vh 15vw 20vh 15vw;
    }

    .tc-hero {
        flex-flow: row wrap;
    }

    .row-container {
        margin: 24px 0 0 0;
    }

    .things-container {
        margin: 0 12px 0 12px;
    }

    /*=====FONTS=====*/
    .main-header { font-size: 50px; }
    
    .section-header { font-size: 25px; }
    
    .sh-left { margin: 0 0 0 18px; }
    
    .sh-right { margin: 0 18px 0 0; }
    
    .subtitle { font-size: 18px; }
    
    .subtitle-desc { font-weight: 700; }
    
    .small-text { font-size: 12px; }

    .st-bold { margin-top: 4px; }
    
    .big-desc { font-size: 12px; }

    /*=====OBJECTS=====*/
    .profpic { width: 200px;}

    .line1 { width: 84px; }

    .hero-line { width: 150px; }

    .logos { 
        margin: 0 12px;
        width: 30px;
    }
    
    .circles { margin: 0 24px; }
    
    .whatido-left-decor {
        width: 150px;
    }
    
    .whatido-right-decor {
        width: 150px;
        margin-top: 31px;
    }
    
    .desc-right-1 {
        margin: 60px 0 0 0;
        width: 150px;
    }
    
    .desc-right-2 {
        margin: 650px 0 0 0;
        width: 75px;
    }
    
    .desc-left-1 {
        margin: 150px 0 0 0;
        width: 40px;
    }
    
    .desc-left-2 {
        margin: 900px 0 0 0;
        width: 80px;
    }

    .for-circles {
        width: 100px;
        height: 106px;
        margin: 12px 12px;
    }

    .fc-one {
        background-image: url("../static/circles1-ph.svg");
    }
    
    .fc-two {
        background-image: url("../static/circles2-ph.svg");
    }
    
    .fc-three {
        background-image: url("../static/circles3-ph.svg");
    }
    
    .fc-four {
        background-image: url("../static/circles4-ph.svg");
    }
}
 