@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700;800&display=swap");

:root {
    --bg-color-1: #FFF0E4;
    --bg-color-2: #FFDDDB;
    --color-darkred: #BE1668;
    --color-magenta: #E55D85;
    --color-purple: #7C69AC;
}

html {
    font-family: 'Raleway', sans-serif;
    scroll-behavior: smooth;
    background-color: var(--bg-color-1);
}

* {
    margin: 0;
}

.hero-section {
    background-color: var(--bg-color-1);
    padding: 15vh 15vw 15vh 15vw;
}

.main-header {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 60px;
    color: var(--color-darkred);
    text-align: center;
    margin: 0 0 24px 0;
}

.nav-decor {
    position: absolute;
    width: 15vw;
}

.pic-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
}

.dog-pic {
    max-width: 250px;
    border-radius: 10%;
    margin: 12px;
}

@media only screen and (max-width: 768px) {
    .main-header {
        font-size: 50px;
    }
}