@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700;800&display=swap");

:root {
    --bg-color-1: #FFF0E4;
    --bg-color-2: #FFDDDB;
    --color-darkred: #BE1668;
    --color-magenta: #E55D85;
    --color-purple: #7C69AC;
}

body {
    margin: 0;
}

html {
    font-family: 'Raleway', sans-serif;
    background-color: var(--bg-color-2);
    text-decoration: none;
}

p { 
    text-align: center;
    color: var(--color-darkred);
    margin: 0;
}

iframe {
    width: "800"; height: "450";
}

.centered-box {
    margin: 48px 24px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}


.main-header {
    font-size: 48px;
    font-weight: 800;
    margin: 0 0 24px 0;
}


@media only screen and (max-width: 768px) {
    .main-header {
        font-size: 36px;
        font-weight: 800;
        margin: 0 0 12px 0;
    }

    .centered-box {
        margin: 24px 10px;
    }

    iframe {
        width: "400"; height: "600";
    }
}
