@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&display=swap");
@-webkit-keyframes scatter {
  0% {
    top: 0;
  }
  50% {
    top: -10px;
  }
  100% {
    top: 0;
  }
}
@keyframes scatter {
  0% {
    top: 0;
  }
  50% {
    top: -10px;
  }
  100% {
    top: 0;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: url("./bg.png");
  background-repeat: repeat;
  margin: 0;
}

h1 {
  text-align: center;
  font-size: 15vw;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  color: #eb314a;
  margin: 170px 44px 140px 44px;
}

.profpic {
  max-width: 200px;
  height: auto;
  border-radius: 50%;
  -webkit-box-shadow: 3px 3px #f58e9c;
          box-shadow: 3px 3px #f58e9c;
  border: solid;
  border-width: 2px;
  border-color: #f58e9c;
}

.pic {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.desc {
  display: inline-block;
  vertical-align: middle;
  margin: 0px 0px 0px 24px;
}

.desc-text-big {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  color: #eb314a;
  font-size: 32px;
  margin: 0px 0px 12px 0px;
  text-shadow: 2px 2px #ffcdd4;
}

.desc-text-medium {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #eb314a;
  font-size: 24px;
  margin: 0px 0px 24px 0px;
  text-shadow: 2px 2px #ffcdd4;
  text-align: center;
}

.desc-text-medium2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #eb314a;
  font-size: 18px;
  margin: 0px 0px 24px 0px;
  text-align: center;
}

.desc-text-medium3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #eb314a;
  font-size: 18px;
  margin: 0px 0px 12px 0px;
  text-align: center;
}

.desc-text-small {
  font-family: 'Balsamiq Sans', cursive;
  font-weight: 400;
  color: #e6929d;
  font-size: 18px;
  margin: 0px 0px 0px 0px;
  line-height: 1.5;
}

.desc-text-smaller {
  font-family: 'Balsamiq Sans', cursive;
  font-weight: 400;
  color: #f16f81;
  font-size: 18px;
  margin: 0px 0px 0px 0px;
  line-height: 1.5;
  text-align: center;
}

.desc-text-smallerer {
  font-family: 'Balsamiq Sans', cursive;
  font-weight: 400;
  color: #f16f81;
  font-size: 16px;
  margin: 0px 0px 0px 0px;
  line-height: 1;
  text-align: center;
}

.card-1 {
  background-color: #f8f8f8;
  padding: 32px;
  margin: 32px 88px 32px 88px;
  border-radius: 35px;
  -webkit-box-shadow: 5px 5px #f58e9c;
          box-shadow: 5px 5px #f58e9c;
  border: solid;
  border-width: 2px;
  border-color: #f58e9c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-scroll-snap-type: mandatory;
      scroll-snap-type: mandatory;
  scroll-margin-top: 60px;
}

.card-2 {
  background-color: #f8f8f8;
  padding: 32px;
  margin: 32px 88px 32px 88px;
  border-radius: 35px;
  -webkit-box-shadow: 5px 5px #f58e9c;
          box-shadow: 5px 5px #f58e9c;
  border: solid;
  border-width: 2px;
  border-color: #f58e9c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-scroll-snap-type: mandatory;
      scroll-snap-type: mandatory;
  scroll-margin-top: 60px;
}

.card-3 {
  background-color: #FFB3BD;
  margin: 0px 12px 16px 12px;
  padding: 18px 18px 16px 18px;
  border-radius: 20px;
  -webkit-box-shadow: 3px 3px #f16f81;
          box-shadow: 3px 3px #f16f81;
  border: solid;
  border-width: 2px;
  border-color: #f16f81;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.card-4 {
  background-color: #FFB3BD;
  margin: 0px 12px 16px 12px;
  padding: 18px 18px 16px 18px;
  border-radius: 20px;
  -webkit-box-shadow: 3px 3px #f16f81;
          box-shadow: 3px 3px #f16f81;
  border: solid;
  border-width: 2px;
  border-color: #f16f81;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: 150px;
}

.blocks-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.blocks-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: 100px;
}

.blocks-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.blocks-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.playful span {
  text-shadow: 0.2px 0.2px #f8f8f8, 0.4px 0.4px #f8f8f8, 0.6px 0.6px #f8f8f8, 0.8px 0.8px #f8f8f8, 1px 1px #f8f8f8, 1.2px 1.2px #f8f8f8, 1.4px 1.4px #f8f8f8, 1.6px 1.6px #f8f8f8, 1.8px 1.8px #f8f8f8, 2px 2px #f8f8f8, 2.2px 2.2px #f8f8f8, 2.4px 2.4px #f8f8f8, 2.6px 2.6px #f8f8f8, 2.8px 2.8px #f8f8f8, 3px 3px #f8f8f8, 3.2px 3.2px #f8f8f8, 3.4px 3.4px #f8f8f8, 3.6px 3.6px #f8f8f8, 3.8px 3.8px #f8f8f8, 4px 4px #f8f8f8, 4.2px 4.2px #f8f8f8, 4.4px 4.4px #f8f8f8, 4.6px 4.6px #f8f8f8, 4.8px 4.8px #f8f8f8, 5px 5px #f8f8f8, 5.2px 5.2px #f8f8f8, 5.4px 5.4px #f8f8f8, 5.6px 5.6px #f8f8f8, 5.8px 5.8px #f8f8f8, 6px 6px #f8f8f8, 6.2px 6.2px #f8f8f8, 6.4px 6.4px #f8f8f8, 6.6px 6.6px #f8f8f8, 6.8px 6.8px #f8f8f8, 7px 7px #f8f8f8, 7.2px 7.2px #f8f8f8, 7.4px 7.4px #f8f8f8, 7.6px 7.6px #f8f8f8, 7.8px 7.8px #f8f8f8, 8px 8px #f8f8f8;
  position: relative;
  -webkit-animation: scatter 1.75s infinite;
          animation: scatter 1.75s infinite;
}

.playful span:nth-child(2n) {
  text-shadow: 0.2px 0.2px #f8f8f8, 0.4px 0.4px #f8f8f8, 0.6px 0.6px #f8f8f8, 0.8px 0.8px #f8f8f8, 1px 1px #f8f8f8, 1.2px 1.2px #f8f8f8, 1.4px 1.4px #f8f8f8, 1.6px 1.6px #f8f8f8, 1.8px 1.8px #f8f8f8, 2px 2px #f8f8f8, 2.2px 2.2px #f8f8f8, 2.4px 2.4px #f8f8f8, 2.6px 2.6px #f8f8f8, 2.8px 2.8px #f8f8f8, 3px 3px #f8f8f8, 3.2px 3.2px #f8f8f8, 3.4px 3.4px #f8f8f8, 3.6px 3.6px #f8f8f8, 3.8px 3.8px #f8f8f8, 4px 4px #f8f8f8, 4.2px 4.2px #f8f8f8, 4.4px 4.4px #f8f8f8, 4.6px 4.6px #f8f8f8, 4.8px 4.8px #f8f8f8, 5px 5px #f8f8f8, 5.2px 5.2px #f8f8f8, 5.4px 5.4px #f8f8f8, 5.6px 5.6px #f8f8f8, 5.8px 5.8px #f8f8f8, 6px 6px #f8f8f8, 6.2px 6.2px #f8f8f8, 6.4px 6.4px #f8f8f8, 6.6px 6.6px #f8f8f8, 6.8px 6.8px #f8f8f8, 7px 7px #f8f8f8, 7.2px 7.2px #f8f8f8, 7.4px 7.4px #f8f8f8, 7.6px 7.6px #f8f8f8, 7.8px 7.8px #f8f8f8, 8px 8px #f8f8f8;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.icon-skill {
  max-height: 75px;
  margin: 0px 0px 12px 0px;
}

.icon-contact {
  margin-right: 16px;
  margin-left: 16px;
  max-height: 40px;
  width: auto;
}

@media only screen and (max-width: 750px) {
  body {
    background-image: url("./bg2.png");
    background-repeat: repeat;
    margin: 0;
  }
  h1 {
    font-size: 20vw;
    margin: 136px 15px 112px 15px;
  }
  .profpic {
    max-width: 150px;
    height: auto;
  }
  .pic {
    position: relative;
    margin: 0px 0px 24px 0px;
  }
  .desc {
    display: inline-block;
    margin: 0px 24px 0px 24px;
    text-align: center;
  }
  .desc-text-big {
    font-size: 18px;
    margin: 0px 0px 12px 0px;
  }
  .desc-text-medium {
    font-size: 16px;
    margin: 0px 0px 16px 0px;
  }
  .desc-text-medium2 {
    font-size: 12px;
    margin: 0px 0px 12px 0px;
  }
  .desc-text-medium3 {
    font-size: 12px;
    margin: 0px 0px 6px 0px;
  }
  .desc-text-small {
    font-size: 12px;
    margin: 0px;
    line-height: 1.5;
  }
  .desc-text-smaller {
    font-size: 12px;
  }
  .desc-text-smallerer {
    font-size: 10px;
  }
  .card {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .card-1 {
    padding: 24px 8px 24px 8px;
    margin: 20px 15px 20px 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    scroll-margin-top: 45px;
  }
  .card-2 {
    padding: 24px 8px 24px 8px;
    margin: 20px 15px 20px 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    scroll-margin-top: 45px;
  }
  .card-3 {
    margin: 0px 3px 12px 3px;
    padding: 14px 8px 12px 8px;
    border-radius: 15px;
  }
  .card-4 {
    margin: 0px 3px 12px 3px;
    padding: 14px 12px 12px 12px;
    border-radius: 15px;
    width: 100px;
  }
  .blocks-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .blocks-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    width: 60px;
  }
  .icon-skill {
    max-height: 40px;
  }
  .icon-contact {
    margin-right: 8px;
    margin-left: 8px;
    max-height: 25px;
    width: auto;
  }
}
/*# sourceMappingURL=story1.css.map */