@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&display=swap");

@function textShadow($precision, $size, $color) {
    $value: null;
    $offset: 0;
    $length: $size * (1 / $precision) - 1;

    @for $i from 0 through $length {
        $offset: $offset + $precision;
        $shadow: $offset + px $offset + px $color;
        $value: append($value, $shadow, comma);
    }

    @return $value;
}

@keyframes scatter {
    0% {
      top: 0;
    }
    50% {
      top: -10px;
    }
    100% {
      top: 0;
    }
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: url("./bg.png");
    background-repeat: repeat;
    margin: 0;
}

h1 {
    text-align: center;
    font-size: 15vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    color: #eb314a;
    margin: 170px 44px 140px 44px;
}

.profpic {
    max-width: 200px;
    height: auto;
    border-radius: 50%;
    box-shadow: 3px 3px #f58e9c;
    border: solid;
    border-width: 2px;
    border-color: #f58e9c;
}


.pic {
    display: inline-block;
    position: relative;
    vertical-align: middle;
}

.desc {
    display: inline-block;
    vertical-align: middle;
    margin: 0px 0px 0px 24px;
}

.desc-text {
    &-big {
        font-family: 'Montserrat', sans-serif;
        font-weight: 800;
        color: #eb314a;
        font-size: 32px;
        margin: 0px 0px 12px 0px;
        text-shadow: 2px 2px #ffcdd4;
    }
    &-medium {
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        color: #eb314a;
        font-size: 24px;
        margin: 0px 0px 24px 0px;
        text-shadow: 2px 2px #ffcdd4;
        text-align: center;
    }
    &-medium2 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        color: #eb314a;
        font-size: 18px;
        margin: 0px 0px 24px 0px;
        text-align: center;
    }
    &-medium3 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        color: #eb314a;
        font-size: 18px;
        margin: 0px 0px 12px 0px;
        text-align: center;
    }
    &-small {
        font-family: 'Balsamiq Sans', cursive;
        font-weight: 400;
        color: #e6929d;
        font-size: 18px;
        margin: 0px 0px 0px 0px;
        line-height: 1.5;
    }
    &-smaller {
        font-family: 'Balsamiq Sans', cursive;
        font-weight: 400;
        color: #f16f81;
        font-size: 18px;
        margin: 0px 0px 0px 0px;
        line-height: 1.5;
        text-align: center;
    }
    &-smallerer {
        font-family: 'Balsamiq Sans', cursive;
        font-weight: 400;
        color: #f16f81;
        font-size: 16px;
        margin: 0px 0px 0px 0px;
        line-height: 1;
        text-align: center;
    }
}

.card {
    &-1 {
        background-color: #f8f8f8;
        padding: 32px;
        margin: 32px 88px 32px 88px;
        border-radius: 35px;
        box-shadow: 5px 5px #f58e9c;
        border: solid;
        border-width: 2px;
        border-color: #f58e9c;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        scroll-snap-type: mandatory;
        scroll-margin-top: 60px;
    }
    &-2 {
        background-color: #f8f8f8;
        padding: 32px;
        margin: 32px 88px 32px 88px;
        border-radius: 35px;
        box-shadow: 5px 5px #f58e9c;
        border: solid;
        border-width: 2px;
        border-color: #f58e9c;
        display: flex;
        flex-direction: column;
        align-items: center;
        scroll-snap-type: mandatory;
        scroll-margin-top: 60px;
    }
    &-3 {
        background-color: #FFB3BD;
        margin: 0px 12px 16px 12px;
        padding: 18px 18px 16px 18px;
        border-radius: 20px;
        box-shadow: 3px 3px #f16f81;
        border: solid;
        border-width: 2px;
        border-color: #f16f81;
        display: flex;
        flex-flow: row nowrap;
        align-items: stretch;
    }
    &-4 {
        background-color: #FFB3BD;
        margin: 0px 12px 16px 12px;
        padding: 18px 18px 16px 18px;
        border-radius: 20px;
        box-shadow: 3px 3px #f16f81;
        border: solid;
        border-width: 2px;
        border-color: #f16f81;
        display: flex;
        flex-flow: column nowrap;
        align-items: stretch;
        width: 150px;
    }
}

.blocks {
    &-1 {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        align-items: stretch;
    }
    &-2 {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-evenly;
        align-items: stretch;
        width: 100px;
    }
    &-3 {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-evenly;
        align-items: stretch;
    }
    &-4 {
        display: flex;
        flex-flow: row wrap;
        align-items: stretch;
        justify-content: center;
    }
}

.playful span {
    text-shadow: textShadow(0.2, 8, #f8f8f8);
    position: relative;
    animation: scatter 1.75s infinite;
}

.playful span:nth-child(2n) {
    text-shadow: textShadow(0.2, 8, #f8f8f8);
    animation-delay: 0.3s;
}

.icon {
    &-skill {
        max-height: 75px;
        margin: 0px 0px 12px 0px;
    }
    &-contact {
        margin-right: 16px;
        margin-left: 16px;
        max-height: 40px;
        width: auto;
    }
}

@media only screen and (max-width: 750px) {
    body {
        background-image: url("./bg2.png");
        background-repeat: repeat;
        margin: 0;
    }

    h1 {
        font-size: 20vw;
        margin: 136px 15px 112px 15px;
    }

    .profpic {
        max-width: 150px;
        height: auto;
    }

    .pic {
        position: relative;
        margin: 0px 0px 24px 0px;
    }

    .desc {
        display: inline-block;
        margin: 0px 24px 0px 24px;
        text-align: center;
    }
    
    .desc-text {
        &-big {
            font-size: 18px;
            margin: 0px 0px 12px 0px;
        }
        &-medium {
            font-size: 16px;
            margin: 0px 0px 16px 0px;
        }
        &-medium2 {
            font-size: 12px;
            margin: 0px 0px 12px 0px;
        }
        &-medium3 {
            font-size: 12px;
            margin: 0px 0px 6px 0px;
        }
        &-small {
            font-size: 12px;
            margin: 0px;
            line-height: 1.5;
        }
        &-smaller {
            font-size: 12px;;
        }
        &-smallerer {
            font-size: 10px;
        }
    }

    .card {
        justify-content: center;
        align-items: center;
    }

    .card {
        &-1 {
            padding: 24px 8px 24px 8px;
            margin: 20px 15px 20px 15px;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            align-items: center;
            scroll-margin-top: 45px;
        }
        &-2 {
            padding: 24px 8px 24px 8px;
            margin: 20px 15px 20px 15px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            scroll-margin-top: 45px;
        }
        &-3 {
            margin: 0px 3px 12px 3px;
            padding: 14px 8px 12px 8px;
            border-radius: 15px;
        }
        &-4 {
            margin: 0px 3px 12px 3px;
            padding: 14px 12px 12px 12px;
            border-radius: 15px;
            width: 100px;
        }
    }

    .blocks {
        &-1 {
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-evenly;
            align-items: stretch;
        }
        &-2 {
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-evenly;
            align-items: stretch;
            width: 60px;
        }
    }

    .icon {
        &-skill {
            max-height: 40px;
        }
        &-contact {
            margin-right: 8px;
            margin-left: 8px;
            max-height: 25px;
            width: auto;
        }
    }
}