@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700;800&display=swap");

:root {
    --bg-color-1: #FFF0E4;
    --bg-color-2: #FFDDDB;
    --color-darkred: #BE1668;
    --color-magenta: #E55D85;
    --color-purple: #7C69AC;
}

html {
    font-family: 'Raleway', sans-serif;
    scroll-behavior: smooth;
    background-color: var(--bg-color-2);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* NavBar */
header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 8px 88px;
    background-color: var(--bg-color-2);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

.logo {
    margin-right: auto;
}

.icon {
    max-width: 30px;
}

.nav__links {
    list-style: none;
    display: flex;
}

.nav__links a,
.cta,
.overlay__content a {
    font-weight: 500;
    color: var(--color-darkred);
    font-size: 16px;
    text-decoration: none;
}

.nav__links li {
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: var(--color-magenta);
}

.cta {
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.cta:hover {
    color: var(--color-magenta);
}

/* Mobile Nav */

.menu {
    display: none;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: var(--bg-color-2);
    overflow-x: hidden;
    transition: all 0.5s ease 0s;
}

.overlay--active {
  width: 100%;
}

.overlay__content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.overlay a {
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: all 0.3s ease 0s;
}

.overlay a:hover,
.overlay a:focus {
    color: var(--color-magenta);
}
.overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: var(--color-darkred);
   cursor: pointer;
}

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px;
    }
    .overlay .close {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

@media only screen and (max-width: 750px) {
    .nav__links,
    .cta {
        display: none;
    }

    .menu {
        display: initial;
    }

    header {
        padding: 6px 15px;
    }

    .icon {
        max-width: 25px;
    }

    .main-container {
        padding: 5vh 5vw 5vh 5vw;
    }
}
/* NavBar End */

.main-container {
    padding: 15vh 15vw 15vh 15vw;
    display: flex;
    flex-flow: row nowrap;
}

.totalmatkul-container {
    display: flex;
    flex-flow: row wrap;
}

h1 {
    font-weight: 800;
    font-size: 60px;
    color: var(--color-darkred);
    text-align: center;
    margin: 0 0 24px 0;
}

h2 {
    font-weight: 700;
    font-size: 40px;
    color: var(--color-darkred);
    text-align: center;
    margin: 0 0 24px 0;
}

.matkul-container {
    display: flex;
    flex-flow: column wrap;
    background-color: var(--color-magenta);
    margin: 12px;
    border-radius: 8px;
    padding: 12px;
}

button {
    font-family: 'Raleway', sans-serif;
    border-radius: 50px;
    padding: 12px 48px;
    margin: 12px;
    background: var(--color-purple);
    -webkit-box-shadow: 0px 3px 0px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 3px 0px 0px rgba(0,0,0,0.15);
    box-shadow: 0px 3px 0px 0px rgba(0,0,0,0.15);
    transition: 0.3s;
    cursor: pointer;
    border: none;
}

.red {
    background: var(--color-darkred);
}

.red:hover {
    background: var(--color-magenta);
}

button:hover {
    background-color: var(--color-purple);
}

button a {
    text-decoration: none;
}

button a:link {
    color: var(--bg-color-1);
}

button a:visited {
    color: var(--bg-color-1);
}

button a:hover {
    color: var(--bg-color-1);
}

button a:active {
    color: var(--bg-color-1);
}

.white-text {
    color: var(--bg-color-1);
}

.fieldclass {
    font-size: 80px;;
}