{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'story7styles.css' %}">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{% static 'story7script.js' %}" defer></script>
    <link rel="shortcut icon" href="{% static 'logo.svg' %}" type="image/gif">
    <title>Anski's FAQ</title>
</head>
<body>
    <h1 class="big">FAQ about Anski!</h1>

    <ul id="sortable" class="accordion">

        <li>
            <div class="test" style="display: flex; flex-flow: row nowrap; justify-content: space-between;">
                <a class="toggle parent" href=#>What are you currently doing?</a>
                <div style="display: flex; flex-flow: row nowrap;">
                    <a class="up" href="javascript:void(0);" style="margin-right: 10px;">^</a>
                    <a class="down" href="javascript:void(0);">v</a>
                </div>
            </div>
            <p class="inner">
                I have many activites that fills my days right now, like college, organizations, events, and some side-projects I'm doing on my free time, like drawing illustrations for example.
            </p>
        </li>

        <li>
            <div class="test" style="display: flex; flex-flow: row nowrap; justify-content: space-between;">
                <a class="toggle parent" href=#>What events and organizations are you in right now?</a>
                <div style="display: flex; flex-flow: row nowrap;">
                    <a class="up" href="javascript:void(0);" style="margin-right: 10px;">^</a>
                    <a class="down" href="javascript:void(0);">v</a>
                </div>
            </div>
            <p class="inner">
                For organizations, I'm in BEM right now, on the Media Bureau. You know, designing posters and such. For events, I'm gonna be in the upcoming COMPFEST and Fasilkom Wisuda Ganjil Organizers.
            </p>
        </li>

        <li>
            <div class="test" style="display: flex; flex-flow: row nowrap; justify-content: space-between;">
                <a class="toggle parent" href=#>What achievements have you gotten so far?</a>
                <div style="display: flex; flex-flow: row nowrap;">
                    <a class="up" href="javascript:void(0);" style="margin-right: 10px;">^</a>
                    <a class="down" href="javascript:void(0);">v</a>
                </div>
            </div>
            <p class="inner">
                Other than being able to do 3 (yes, three) assignments in one day without any sleep nor meals, I don't think I've ever achieved anything amazing yet.
            </p>
        </li>

        <li>
            <div class="test" style="display: flex; flex-flow: row nowrap; justify-content: space-between;">
                <a class="toggle parent" href=#>How are you feeling?</a>
                <div style="display: flex; flex-flow: row nowrap;">
                    <a class="up" href="javascript:void(0);" style="margin-right: 10px;">^</a>
                    <a class="down" href="javascript:void(0);">v</a>
                </div>
            </div>
            <p class="inner">
                Kinda bad, thanks for asking! I'm managing though, so it's alright.
            </p>
        </li>

        <li>
            <div class="test" style="display: flex; flex-flow: row nowrap; justify-content: space-between;">
                <a class="toggle parent" href=#>What are the things you like?</a>
                <div style="display: flex; flex-flow: row nowrap;">
                    <a class="up" href="javascript:void(0);" style="margin-right: 10px;">^</a>
                    <a class="down" href="javascript:void(0);">v</a>
                </div>
            </div>
            <p class="inner">
                I like dogs, I like reading manga, I like drawing.. I think that's pretty much it? Oh, I've been into reading novels too lately, even though I'm a slow reader so I don't do it often.
            </p>
        </li>

        <li>
            <div class="test" style="display: flex; flex-flow: row nowrap; justify-content: space-between;">
                <a class="toggle parent" href=#>How's college doing?</a>
                <div style="display: flex; flex-flow: row nowrap;">
                    <a class="up" href="javascript:void(0);" style="margin-right: 10px;">^</a>
                    <a class="down" href="javascript:void(0);">v</a>
                </div>
            </div>
            <p class="inner">
                Honestly, it's not so good since I'm not into the classes, but I'm doing assignments alright so it's okay. I also join (too much) events and organizations that I'm pretty much occupied almost all of the time, but hey, it's enjoyable, sooo..
            </p>
        </li>

        <li>
            <div class="test" style="display: flex; flex-flow: row nowrap; justify-content: space-between;">
                <a class="toggle parent" href=#>Wanna hang out sometime?</a>
                <div style="display: flex; flex-flow: row nowrap;">
                    <a class="up" href="javascript:void(0);" style="margin-right: 10px;">^</a>
                    <a class="down" href="javascript:void(0);">v</a>
                </div>
            </div>
            <p class="inner">
                Sure thing! Actually, if (almost) anyone asks me to talk or just idly chat, I'm into that. Just hmu anytime.
            </p>
        </li>

    </ul>
    
</body>
</html>