{% extends "story5base.html" %}

{% block content %}


<div class="main-container">
    <p>Nama matkul: {{ matkul.mata_kuliah }}</p>
    <p>Nama dosen: {{ matkul.dosen_pengajar }}</p>
    <p>Jumlah SKS: {{ matkul.jumlah_sks }}</p>
    <p>Deksripsi: {{ matkul.deskripsi }}</p>
    <p>Semester: {{ matkul.semester_thn }}</p>
    <p>Ruang Kelas: {{ matkul.ruang_kelas }}</p>
    <form method='POST'>
        {% csrf_token %}
        <button class="red" type="submit"><p class="white-text">Delete course</p></button>
    </form>
</div>


{% endblock content %}