{% extends "story5base.html" %}

{% block content %}


<div class="main-container">
    <h2>Add new course</h2>
    <form method="POST">
        {% csrf_token %}
        <div>
            {{ form_matkul }} <!--buat security-->
        </div>
        
        <button type="submit"><p class="white-text">Submit course</p></button>
    </form>
</div>


{% endblock content %}