{% extends "story5base.html" %}

{% block content %}
{% load static %}

<div class="main-container">
    <h1>Anski's Courses</h1>
    <div class="totalmatkul-container">
        {% for kelas in matkul %}
        <div class="matkul-container">
            <a href='{{ kelas.id }}'>
                <p>{{ kelas.mata_kuliah }}</p>
                <p>{{ kelas.semester_thn }}</p>
            </a>
        </div>
    {% endfor %}
    </div>
    
    <a href='{% url "story5:story5form" %}'>
        <button><p class="white-text">Add course</p></button>
    </a>
</div>


{% endblock content %}