<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=`, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'story5styles.css' %}">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Anski's Course</title>
</head>
<body>
    
    <header>
        <a class="logo" href="#"><img class="icon" src="{% static 'navbar-logo.svg' %}" alt="logo"></a>
        <nav>
            <ul class="nav__links">
                <li><a href="{% url 'story5:story5home' %}">Home</a></li>
                <li><a href="{% url 'story5:story5form' %}">Add course</a></li>
            </ul>
        </nav>
        <p class="menu cta">
            <i class="fa fa-bars"></i>
        </p>
    </header>

    <div id="mobile__menu" class="overlay">
        <a class="close">&times;</a>
        <div class="overlay__content">
            <a class="closetext" href="{% url 'story5:story5home' %}">Home</a>
            <a class="closetext5" href="{% url 'story5:story5form' %}">Add course</a>
        </div>
    </div>
    <script type="text/javascript" src="{% static 'mobile.js' %}"></script>

    {% block content %}
    {% endblock content %}

</body>
</html>