@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700;800&display=swap");

:root {
    --bg-color-1: #FFF0E4;
    --bg-color-2: #FFDDDB;
    --color-darkred: #BE1668;
    --color-magenta: #E55D85;
    --color-purple: #7C69AC;
}
  
html {
    font-family: 'Raleway', sans-serif;
    scroll-behavior: smooth;
    background-color: var(--bg-color-2);
}

* {
    box-sizing: border-box;
}

.big {
    font-weight: 800;
    font-size: 60px;
    color: var(--color-purple);
}
  
.footer {
    width: 100%;
    height: 100px;
    background: #04091e;
    color: white;
  }
  
h1 {
    font-size: 60px;
    font-weight: 500;
}
  
  
.align-center {
    text-align: center;
}
  
#books {
    display: grid;
    column-gap: 2em;
    row-gap: 5em;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr)); 
    padding:50px 0px;
}
  
.card{
    border-radius: 10px;
    margin: 5px;
    background-color: var(--color-darkred);
    color: var(--bg-color-1);
    transition: transform .1s;
    min-width: 250px;
    max-width: 300px;
}

.card:hover {
    transform: scale(1.1);
}
  
.card h5{
    padding: 0.5em 1em;
    text-align: center;
}
  
.card p{
    padding: 0.5em 0.5em;
    text-align: center;
}
  
.img-card{
    width: 100%;
    max-height: 350px;
    border-radius: 5px 5px 0 0;
}

.img-div{
height:350px
}
  
.btn {
    display: inline-block;
    border-radius: 50px;
    padding: 12px 48px;
    margin: 12px;
    background: var(--color-purple);
    -webkit-box-shadow: 0px 3px 0px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 3px 0px 0px rgba(0,0,0,0.15);
    box-shadow: 0px 3px 0px 0px rgba(0,0,0,0.15);
    transition: 0.3s;
    cursor: pointer;
    text-decoration: none;
    border: none;
    font-family: 'Raleway', sans-serif;
    color: var(--bg-color-1);
}

.btn:hover {
    background-color: #9a86ca;
}

#search-url {
    border-radius: 10px;
    padding: 12px 6px;
    margin: 12px;
    border: none;
    font-family: 'Raleway', sans-serif;
    background-color: var(--bg-color-1);
    color: var(--color-purple);
}
  
@media only screen and (max-device-width: 768px) {
    :root {
        --margin: 1.5em;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    :root {
        --margin: 5em;
    }
}

@media only screen and (min-width: 1824px) {
    :root {
        --margin: max(275px, calc(50vw - 720px));
    }
}
  