<!DOCTYPE html>
{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <link rel="stylesheet" href="{% static 'story2.css' %}">
    <title>Anski Stories</title>
</head>

<body>
    <div class="centered-box">
        <p class="main-header">Anski's Story 2</p>
        <iframe style="border: 1px solid rgba(0, 0, 0, 0.1);"
            width="800" height="450"
            src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Ffile%2FRxkom2HF1iOdFYklOti6G3%2FStory-2-PPW%3Fnode-id%3D6%253A32&chrome=DOCUMENTATION"
            allowfullscreen>
        </iframe>
    </div>
    
    <script>
        function changeRes() {
            if (x.matches) {
                document.getElementsByTagName("iframe")[0].setAttribute("width", "250");
                document.getElementsByTagName("iframe")[0].setAttribute("height", "500");
            } else {
                document.getElementsByTagName("iframe")[0].setAttribute("width", "800");
                document.getElementsByTagName("iframe")[0].setAttribute("height", "450");
            }
        }
        var x = window.matchMedia("(max-width: 768px")
        changeRes()
        x.addListener(changeRes)
    </script>
</body>

</html>