<!DOCTYPE html>
{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'stylesheet.css' %}">
    <title>Anski Stories</title>
</head>

<body>
    <div class="centered-box">
        <p class=main-header>Anski's stories directory</p>
        <p>Choose my story you want to see!</p>
        <div class="button-container">
            <a href="{% url 'story1:story1home' %}">
                <div class="button"><p class="white-text"></p>Story 1</p></div>
            </a>
            <a href="{% url 'story2:story2home' %}">
                <div class="button"><p class="white-text"></p>Story 2</p></div>
            </a>
            <a href="{% url 'story3:story3home' %}">
                <div class="button"><p class="white-text"></p>Story 3</p></div>
            </a>
            <a href="{% url 'homepage:index' %}">
                <div class="button"><p class="white-text"></p>Story 4</p></div>
            </a>
            <a href="{% url 'story5:story5home' %}">
                <div class="button"><p class="white-text"></p>Story 5</p></div>
            </a>
            <a href="{% url 'story6:story6home' %}">
                <div class="button"><p class="white-text"></p>Story 6</p></div>
            </a>
            <a href="{% url 'story7:story7home' %}">
                <div class="button"><p class="white-text"></p>Story 7</p></div>
            </a>
            <a href="{% url 'story8:story8home' %}">
                <div class="button"><p class="white-text"></p>Story 8</p></div>
            </a>
        </div>
    </div>
    
</body>

</html>