@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700;800&display=swap");

:root {
    --bg-color-1: #FFF0E4;
    --bg-color-2: #FFDDDB;
    --color-darkred: #BE1668;
    --color-magenta: #E55D85;
    --color-purple: #7C69AC;
}

html {
    font-family: 'Raleway', sans-serif;
    background-color: var(--bg-color-2);
    text-decoration: none;
}

p { 
    text-align: center;
    color: var(--color-darkred);
    margin: 0;
}

.centered-box {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.button-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: stretch;
    margin: 24px 0;
}

.main-header {
    font-size: 48px;
    font-weight: 800;
    margin: 0;
}

.button {
    border-radius: 50px;
    padding: 12px 48px;
    margin: 12px;
    background: var(--color-purple);
    -webkit-box-shadow: 0px 3px 0px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 3px 0px 0px rgba(0,0,0,0.15);
    box-shadow: 0px 3px 0px 0px rgba(0,0,0,0.15);
    transition: 0.3s;
    cursor: pointer;
}

.button:hover {
    background-color: #9a86ca;
}

.button-container a {
    text-decoration: none;
}

.button-container a:link {
    color: var(--bg-color-1);
}

.button-container a:visited {
    color: var(--bg-color-1);
}

.button-container a:hover {
    color: var(--bg-color-1);
}

.button-container a:active {
    color: var(--bg-color-1);
}

.white-text {
    color: var(--bg-color-1);
}

@media only screen and (max-width: 768px) {
    .button-container {
        margin: 18px 0;
    }

    .main-header {
        font-size: 42px;
        font-weight: 800;
        margin: 8px 0;
    }
    
    .button {
        border-radius: 50px;
        padding: 8px 42px;
        margin: 8px;
    }
}
